.background {
    -fx-background-color: red;
}

.split-pane:vertical > .split-pane-divider {
-fx-border-color: transparent -fx-base transparent -fx-base;
-fx-background-color: transparent, derive(-fx-base,20%);
-fx-background-insets: 0, 0 1 0 1;   -fx-background-color: blue, -fx-inner-border;
}

.split-pane {
   -fx-border-color:  blue;
   -fx-background-color: red;
}


